<!--
Make a separate component for each section.
-->

<html>
    <head>

        <!-- HTMX for sprite retrieving -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>

        <!-- Needed stylesheets -->
        <link rel="stylesheet" href="web/styles/screen_mode.css">
        <link rel="stylesheet" href="web/styles/type_selection.css">
        <link rel="stylesheet" href="web/styles/gen4_font_load.css">
        <link rel="stylesheet" href="web/styles/create.css">
        
        <!-- Sprites taken from https://github.com/msikma/pokesprite-spritesheet -->
        <link rel="stylesheet" href="web/styles/pokesprites/gh-markdown.css">
        <link rel="stylesheet" href="web/styles/pokesprites/pokesprite-docs.css">
        <link rel="stylesheet" href="web/styles/pokesprites/pokesprite-pokemon-gen4.css">
        <link rel="stylesheet" href="web/styles/pokesprites/pokesprite-inventory.css">

    </head>



    <!-- LOGO -->
    <div></div>
    
    <body>
        <div class="create-layout">
            <!-- Return button -->
            <form action="/" method="GET" style="top: 0; left: 0;">
                {{INSERT:assets/web/components/button.html;normal="img/return.png",pressed="img/return_pressed.png",width=50,height=50}}
            </form>

            <div id="wc_editor" class="create-editor">
                <br><br>
                <!-- PGT data -->
                {{INSERT:assets/web/components/create/gift_type.html;edit_type_pokemon=global.edit_type_pokemon,edit_type_egg=global.edit_type_egg,edit_type_item=global.edit_type_item}}
                <br>
                {{INSERT:assets/web/components/create/gift_type_data.html;edit_OT_flag=global.edit_OT_flag,edit_item_id=global.edit_item_id,edit_item_sprite=global.edit_item_sprite,edit_item_name=global.edit_item_name}}
                <br>
                {{INSERT:assets/web/components/create/pokemon_data.html;edit_ek4_status=global.edit_ek4_status,edit_ek4_base64=global.edit_ek4_base64}}
                <br>
                <!-- PCD data -->
                {{INSERT:assets/web/components/create/wc_text.html;special_chars=global.special_chars,edit_title=global.edit_title,edit_desc=global.edit_desc}}
                <br>
                {{INSERT:assets/web/components/create/wc_icons.html;edit_icon_left_id=global.edit_icon_left_id,edit_icon_left_sprite=global.edit_icon_left_sprite,edit_icon_left_name=global.edit_icon_left_name,edit_icon_middle_id=global.edit_icon_middle_id,edit_icon_middle_sprite=global.edit_icon_middle_sprite,edit_icon_middle_name=global.edit_icon_middle_name,edit_icon_right_id=global.edit_icon_right_id,edit_icon_right_sprite=global.edit_icon_right_sprite,edit_icon_right_name=global.edit_icon_right_name}}
                
                <br>
                {{INSERT:assets/web/components/create/wc_distrib_count.html;edit_distrib_count=global.edit_distrib_count,edit_distrib_infinite=global.edit_distrib_infinite}}
                <br>
                {{INSERT:assets/web/components/create/wc_id.html;edit_wc_id=global.edit_wc_id}}
                <br>
                {{INSERT:assets/web/components/create/wc_date.html;server_date=global.server_date,edit_date=global.edit_date}}
                <br>
                {{INSERT:assets/web/components/create/game_flags.html;edit_flag_d=global.edit_flag_d,edit_flag_p=global.edit_flag_p,edit_flag_pt=global.edit_flag_pt,edit_flag_hg=global.edit_flag_hg,edit_flag_ss=global.edit_flag_ss}}
                <br><br>
            </div>



            <!-- Actual Wondercard view -->
            <div class="create-view">
                <div class="create-view-wrapper">
                    <!-- img -->
                    <img src="img/empty_wondercard.png" 
                    alt="wondercard"
                    class="create-view-card">

                    <!-- <div 
                    class="create-view-text"
                    style="color: var(--wc-text-dark); left: 35.9%; top: 37.9%;">
                    Please
                    </div> -->

                    
                    <!-- title -->
                    <div
                    id="create-view-title"
                    class="create-view-text"
                    style="color: var(--wc-text-light); left: 12px; top: 46px;">
                    <!-- AMEMONE the Shroomish has arrived!? -->
                    </div>
                    
                    <!-- description -->
                    <div
                    id="create-view-desc"
                    class="create-view-text"
                    style="color: var(--wc-text-dark); left: 12px; top: 182px;">
                    <!-- Somehow, AMEMONE the Shroomish has<br>
                    traveled through space and time<br>
                    to join you on your adventure!<br>
                    Thank you for using IVgift! :D -->
                    </div>

                    <!-- date -->

                    <div
                    id="create-view-date"
                    class="create-view-text"
                    style="color: var(--wc-text-dark); left: 140px; top: 134;">
                    <!-- Mar. 23, 2006 -->
                    </div>

                    <!-- distribution info -->
                    <div
                    id="create-view-distrib"
                    class="create-view-text"
                    style="color: var(--wc-text-dark); left: 12px; top: 270px;">
                    <!-- This gift can be shared with as<br>
                    many friends as you like. -->
                    </div>

                    <!-- icon left -->
                    <div
                    id="create-view-icon-left"
                    class="create-view-icon"
                    style="left: 158px; top: -3px;">
                        <!-- <span class="pokesprite pokemon shroomish"></span> -->
                    </div>
                    <!-- icon middle -->
                    <div
                    id="create-view-icon-middle"
                    class="create-view-icon"
                    style="left: 183px; top: -3px;">
                        <!-- <span class="pokesprite pokemon shroomish"></span> -->
                    </div>
                    <!-- icon right -->
                    <div
                    id="create-view-icon-right"
                    class="create-view-icon"
                    style="left: 208; top: -3px;">
                        <!-- <span class="pokesprite pokemon shroomish"></span> -->
                    </div>
            
                </div>
            </div>


            <!-- Submission and View button -->
            <div class="create-button">
                <form
                    id="view-button" 
                    hx-post="/api/generate"
                    hx-include="#wc_editor"
                    hx-target="#download_view">
                {{INSERT:assets/web/components/button.html;normal="img/view.png",pressed="img/view_pressed.png",height=75,width=125}}
                </form>
                <!-- Download button -->
                <div id="download_view"></div>
            </div>    
        </div>
    </body>

    <script src="web/scripts/wc_update.js"></script>

</html>