<div>
    Compatible games: <br>
    <label>
        <input type="checkbox" name="flag_d" value="true" {{VAR:edit_flag_d;" "}}>
        Diamond
    </label>
    <label>
        <input type="checkbox" name="flag_p" value="true" {{VAR:edit_flag_p;" "}}>
        Pearl
    </label>
    <label>
        <input type="checkbox" name="flag_pt" value="true" {{VAR:edit_flag_pt;" "}}>
        Platinum
    </label>
    <label>
        <input type="checkbox" name="flag_hg" value="true" {{VAR:edit_flag_hg;" "}}>
        HeartGold
    </label>
    <label>
        <input type="checkbox" name="flag_ss" value="true" {{VAR:edit_flag_ss;" "}}>
        SoulSilver
    </label>
</div>