<div>
    Compatible games: <br>
    <label>
        <input type="checkbox" name="flag_d" value="true">
        Diamond
    </label>
    <label>
        <input type="checkbox" name="flag_p" value="true">
        Pearl
    </label>
    <label>
        <input type="checkbox" name="flag_pt" value="true">
        Platinum
    </label>
    <label>
        <input type="checkbox" name="flag_hg" value="true">
        HeartGold
    </label>
    <label>
        <input type="checkbox" name="flag_ss" value="true">
        SoulSilver
    </label>
</div>