<div>
    Compatible games: <br>
    <label>
        <input type="checkbox" name="comp_d" value="true">
        Diamond
    </label>
    <label>
        <input type="checkbox" name="comp_p" value="true">
        Pearl
    </label>
    <label>
        <input type="checkbox" name="comp_pt" value="true">
        Platinum
    </label>
    <label>
        <input type="checkbox" name="comp_hg" value="true">
        HeartGold
    </label>
    <label>
        <input type="checkbox" name="comp_ss" value="true">
        SoulSilver
    </label>
</div>