<div>
    <div id="pokemon-gift-data" class="type-selection-class">
        <label>
            <input type="checkbox" name="OT_check" value="true">
            Will the receiver be the OT of the gifted Pokemon?
        </label>
    </div>

    <div id="item-gift-data" class="type-selection-class">
        <label>
            <!-- 536 items in generation 4 -->
            Item ID:
            <input 
            type="number" name="item_id" value="0" 
            min="0" max="535" step="1"
            hx-get="/api/get_sprite"
            hx-params="*"
            hx-trigger="input"
            hx-target="#item-container">
            <!-- Also show image relating to item -->
            <div id="item-container">
                <span class="pokesprite none"></span>
                none
            </div>
        </label>
    </div>
</div>