<div>
    Select your Pokemon icons: <br>
    <!-- 493 Pokemon in generation 4 -->
    <!-- 531 Forms   in generation 4 -->
    <label>
        Left icon:
        <input 
        type="number" name="pokemon_container_left" value="0" 
        min="0" max="493" step="1"
        hx-get="/api/get_sprite"
        hx-params="*"
        hx-trigger="input"
        hx-target="#pokemon_container_left">
        <!-- Also show image relating to item -->
        <div id="pokemon_container_left">
            <span class="pokesprite none"></span>
            none
        </div>
    </label>
    <br>
    <label>
        Middle icon:
        <input 
        type="number" name="pokemon_container_middle" value="0" 
        min="0" max="493" step="1"
        hx-get="/api/get_sprite"
        hx-params="*"
        hx-trigger="input"
        hx-target="#pokemon_container_middle">
        <!-- Also show image relating to item -->
        <div id="pokemon_container_middle">
            <span class="pokesprite none"></span>
            none
        </div>
    </label>
    <br>
    <label>
        Right icon:
        <input 
        type="number" name="pokemon_container_right" value="0" 
        min="0" max="493" step="1"
        hx-get="/api/get_sprite"
        hx-params="*"
        hx-trigger="input"
        hx-target="#pokemon_container_right">
        <!-- Also show image relating to item -->
        <div id="pokemon_container_right">
            <span class="pokesprite none"></span>
            none
        </div>
    </label>
</div>