<div>
    
    <label>
        Wonder Card Title: <br>
        <input id="title_input" type="text" name="title_input" maxlength="36" placeholder="Type here...">
    </label>
    <br>
    <label>
        Wonder Card Description: <br>
        <!-- <input type="text" name="wc-title" size="100" maxlength="250" placeholder="Type here..."> -->
         <textarea id="desc_input" name="desc_input" maxlength="250" placeholder="Type here..."></textarea>
    </label>
    <br>
    <!-- Character Sidebar -->
     <div class="text-sidebar">
        {{FOR:i,special_chars}}
            <button id="keyboard-button" class="text-sidebar-button" data-char="&#x{{VAR:i;"0020"}}">&#x{{VAR:i;"0020"}}</button>
        {{ENDFOR}}
     </div>

     <!-- Keyboard script -->
    <script type="text/javascript" src="web/scripts/keyboard.js"></script>

</div>